extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Red Bike
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Sobre nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Bikes
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red bike
        h2.text-white-50.mx-auto.mt-2.mb-5 Piensa en las bicicletas como arte que se puede montar y que puede salvar al mundo.
        a.btn.btn-primary.js-scroll-trigger(href='#signup') Comenzar
  // About
  section#about.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Crea un nuevo hobbie con Red Bike
          p.text-white-50
            | Transforma el No puedo, por el ¡Si quiero! 
            a(href='https://startbootstrap.com/template-overviews/grayscale/') vista previa
            |                             . Lograrás todo lo que te propongas.
      img.img-fluid(src='assets/img/undraw_Ride_a_bicycle_2yok.svg' alt='')
      
  // Projects
  section#projects.projects-section.bg-light
    .container
      #main_map

  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Suscríbase para recibir actualizaciones!
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Ingresa tu correo...')
            button.btn.btn-primary.mx-auto(type='submit') Suscribete
  // Contact
  section.contact-section.bg-black
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Direción
              hr.my-4
              .small.text-black-50 441 Sarandí, Rivera Rivera
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Correo Electrónico
              hr.my-4
              .small.text-black-50
                a(href='#!') contacto@redbike.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Celular
              hr.my-4
              .small.text-black-50 +598 91429069
      .social.d-flex.justify-content-center
        a.mx-2(href='https://twitter.com/pds_Cristopher' target="_blank")
          i.fab.fa-twitter
        a.mx-2(href='https://facebook.com' target="_blank")
          i.fab.fa-facebook-f
        a.mx-2(href='https://github.com/cristopherpds' target="_blank")
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Red Bikes 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='js/scripts.js')
  script(src='js/map.js')
  